.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none !important;
}

.reveal img {
  max-height: 400px !important;
  max-width: 500px !important;
  border-radius: 8px !important;
  background-color: lightgray;
}

.reveal code {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px !important;
  padding: 0 8px !important;
}
